html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

[data-embed-bg='transparent'] {
  background: transparent !important;
}

:focus {
  outline: none;
}
:focus-visible {
  outline: 2px solid rgba(0, 0, 0, 0.25);
  outline-offset: 2px;
}